:root {
    --fundo: #f0ededd8;
    --header-tabela: #d4d3d3f3;
    --cards:#FFF;
    --fonte: #333;
    --botao-principal: #106cfc;
    --hover-principal: #105cd4;
    --borda-input: lightgray;
    --icone-secundario:#6c757d;
    --categoria-principal: #f0ededd8;
    --itens-sidebar: #f0eded98;
    --barra-rolagem-tabela:#f5f5f5;
}

* {
    font-family: 'Poppins', sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo);
    color: var(--fonte);
    min-height: calc(100vh - 57px);
	font-size: 0.9rem
}

button:focus {
    box-shadow: none !important
}

img.user-photo,
img.user-photo-sm {
    background: #f1f1f1;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    transition: 0.3s;
    object-fit: cover
}

img.user-photo-sm {
    height: 30px;
    width: 30px
}

div.user-photo {
    width: 12rem;
    height: 12rem;
    border: 2px solid var(--fonte);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

div.user-photo img {
    height: auto;
    border-radius: 50%;
    object-fit: cover
}

div.user-photo i {
    display: none;
    font-size: 4rem;
    position: absolute
}

.toggle-senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--icone-secundario)
}

.toggle-senha:hover {
    color: var(--hover-principal)
}

.login-input,
.icone-login {
    font-size: 13pt
} 

.icone-login {
    padding-right: 2pt;
    color: var(--fonte)
}