header {
	z-index: 1;
	top: 0
}

aside {
	z-index: 2;
	top: 0;
	left: -310px;
	width: 310px;
	height: 100vh;
	background-color: var(--cards);
	transition: left 0.3s;
	overflow-y: auto
}

aside.active {
	left: 0;
	border-right: 1px solid var(--header-tabela)
}

.nav > li {
    padding: 0.5em 0
}

.nav ul li {
    margin-left: 1em
}

.nav a {
	border-radius: 10px;
	color: var(--fonte);
	transition: background-color 0.3s
}

.nav a:hover {
	color: inherit
}

.nav > li > a {
	margin-top: 10px
}

.nav > li > ul > li {
	margin: 10px 0 0 25px
}

footer,
.nome-filial,
.nav > li > ul > li > a {
	font-size: 10pt
}

.nav > li > ul > li > a::before {
	content: '•';
	margin-right: 4px
}

main,
#pesquisa-header {
	transition: margin-left 0.3s
}

#pesquisa-header.active {
	margin-left: 300px;
}

#pesquisa-header span {
    height: 33px;
    border-radius: 10px 0 0 10px
}

#header-esquerdo {
	width: 337px
}

#header-esquerdo.active {
	width: 637px
}

main {
	margin-top: 35px;
	height: calc(100vh - 74px)
}

main.active {
	margin-left: 310px
}

.input-group .form-control:focus {
	box-shadow: none;
	border-color: var(--borda-input)
}

.botao-target {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--botao-principal);
	color: var(--cards);
	transition: background-color 0.3s
}

.botao-pesquisa {
	border: none;
	border-radius: 12px;
	width: 45px;
	height: 32px
}

.botao-target:hover {
	background-color: var(--hover-principal)
}

footer a:hover,
.my-icon:hover,
.breadcrumb-item a:hover {
	color: var(--hover-principal);
	text-decoration: none
}

.botao-adicionar {
	font-size: 15pt;
	position: fixed;
	bottom: 55px;
	right: 40px;
	z-index: 3;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px
}

.btn-custom {
	color: var(--botao-principal)
}

.btn-custom,
.nome-matriz,
.toggle-icon,
#table-dados td {
	font-size: 11pt
}

footer {
	background-color: var(--cards)
}

footer a {
	margin: .5rem;
	color: var(--botao-principal)
}

.titulo {
	color: var(--botao-principal);
	margin-bottom: 5px;
	font-size: 1.6rem
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0 0 5px 0
}

.breadcrumb-item a {
	text-decoration: none;
	color: var(--botao-principal)
}

#table-dados {
	background-color: var(--cards);
	margin-bottom: 0px
}

#table-dados td {
	color: var(--fonte)
}

#table-dados .fas {
	font-size: 20px
}

.custom-table {
	height: calc(100% - 120px);
	margin-top: 1.5rem
}

.custom-table th {
	background-color: var(--header-tabela)
}

.custom-table td {
	vertical-align: middle
}

.custom-table tr[onclick]:hover,
.custom-table td[onclick]:hover {
	color: var(--hover-principal);
	cursor: pointer
}

.table-header-scroll table tr:last-child th:first-child {
	border-top-left-radius: 10px
}

.table-header-scroll table tr:last-child th:last-child {
	border-top-right-radius: 10px
}

.table-body-scroll {
	overflow-y: auto;
	height: 98%
}

.table-header-scroll tr {
	background-color: var(--principal);
}

.table-header-scroll > table,
.table-body-scroll > table {
	width: 100%
}

.table-header-scroll > table th,
.table-body-scroll > table td {
	padding: .75rem
}

.table-body-scroll table tr {
	border-bottom: 0.5px
}

.custom-scrollbar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 3px rgba(32, 16, 16, 0.3);
	border-radius: 10px;
	background-color: var(--barra-rolagem-tabela)
}

.custom-scrollbar:hover {
	overflow-y: auto !important
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 8px;
	background-color: var(--barra-rolagem-tabela);
	margin-right: -3px
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.2)
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3)
}

@-moz-document url-prefix() {
	.custom-scrollbar {
		scrollbar-color: var(--barra-rolagem-tabela) rgba(32, 16, 16, 0.3);
		scrollbar-width: thin
	}

	.custom-scrollbar:hover {
		margin-right: -8px
	}
}

.my-icon,
.matriz-header,
.autocomplete-line,
.sortable-columns th:not(.nao-ordena) * {
	cursor: pointer
}

.input-group-text {
	background-color: transparent;
	padding-right: 5px
}

.input-group .form-control {
	border-left: none
}

.caixa-pesquisa {
	border-radius: 10px;
	font-size: 0.8rem
}

.input-group .caixa-pesquisa {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important
}

#menu-fechar,
.autocomplete-result {
	position: absolute
}

#menu-fechar {
	top: 21px;
	right: 10px
}

.autocomplete {
    padding-right: 35px
}

.autocomplete-result {
    background: white;
    border: solid #ced4da 1px;
    border-radius: 0.25rem;
    font-family: sans-serif;
    font-size: 0.9rem;
    max-height: 180px;
    overflow-y: auto;
    z-index: 3
}

.autocomplete-result:empty {
    display: none
}

.autocomplete-line {
    padding: 5px
}

.autocomplete-line:hover,
.autocomplete-line.hovered {
    background: rgba(0, 0, 0, 0.15)
}

.formulario {
    background-color: var(--cards);
    border-radius: .75rem;
    margin-top: 1rem;
    height: calc(100% - 95px);
    overflow-y: auto
}

.formulario h5 {
    font-size: 16pt
}

.formulario i {
    font-size: 13pt
}

.margem-compensa-label {
    margin-top: 23px
}

small,
.lista-crud li {
	display: flex;
	align-items: center
}

.lista-crud li {
	justify-content: space-between
}

small {
	justify-content: flex-end
}

label {
	margin-bottom: 0.1rem
}

.tabela-arredondada tr:first-child th:first-child {
	border-top-left-radius: 10px
}

.tabela-arredondada tr:first-child th:last-child {
	border-top-right-radius: 10px
}

.tabela-arredondada tr:last-child td:first-child {
	border-bottom-left-radius: 10px
}

.tabela-arredondada tr:last-child td:last-child {
	border-bottom-right-radius: 10px
}

.invalido {
    border: 2px solid #F00;
}

.imagem-erro {
    width: 20%;
    height: 20%
}	

.readonly {
	background-color: #e9ecef;
	pointer-events: none
}

.ultima-atualizacao {
	font-size: 9pt;
    color: var(--icone-secundario)
}

.adicionar-foto {
	border: none;
	background-color: transparent;
	width: 100%;
}

.adicionar-foto i {
	font-size: 25pt;
	color: #333;
}

.nav-atribuicoes li button {
    background-color: var(--cards);
    border-bottom: none
}

.nav-atribuicoes li button:focus {
    outline: none
}

.container-atribuicoes {
    background-color: var(--fundo);
    border-radius: 0 .75rem .75rem .75rem
}

.nav-tabs {
    border: none
}

.nav-tabs .nav-item {
    margin-bottom: -8px
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--fonte);
    background-color: var(--fundo);
    border-bottom: transparent;
    border-color: transparent
}

.tabela-atribuicoes thead{
    background-color: var(--header-tabela)
}

.tabela-atribuicoes tbody tr{
    background-color: var(--cards)
}

.col-produto {
    width: 40%
}

.col-quantidade {
    width: 10%
}

.col-validade {
    width: 20%
}

.col-obrigatorio {
    width: 15%
}

.col-acoes {
    width: 15%
}